{
  "globals": {
    "addedVocabularyEntries": true,
    "driver": true,
    "fixtures": true,
  },
  "overrides": [
    {
      "files": ["features/step_definitions/*.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
