{
  'extends': 'airbnb/base',
  'rules': {
    'func-names': 0,
    'max-len': [2, 120, 2, {
      'ignoreUrls': true,
      'ignoreComments': false
    }],
    'new-cap': [2, {
      'capIsNewExceptions': [
        'Given',
        'When',
        'Then'
      ]
    }]
  },
  'globals': {
    'driver': true
  }
}
