name: Build

on:
  push:
    branches:
      - master
      - maintenance-3.0.x
  pull_request:

env:
  CONNECT_URL: https://connect.nuxeo.com/nuxeo

jobs:
  build:
    name: Packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - uses: actions/setup-node@v1
      with:
        node-version: 10
        registry-url: 'https://packages.nuxeo.com/repository/npm-public/'
        scope: '@nuxeo'

    - name: Prepare environment
      run: |
        echo "BRANCH_NAME=${GITHUB_HEAD_REF##*/}" >> $GITHUB_ENV
        echo "PACKAGE_VERSION=$(npx -c 'echo "$npm_package_version"')" >> $GITHUB_ENV

    - name: Get pull request version
      if: github.event_name == 'pull_request'
      run: |
        echo "VERSION=$PACKAGE_VERSION-$BRANCH_NAME" >> $GITHUB_ENV

    - name: Get prerelease version
      if: github.event_name == 'push'
      run: |
        git fetch origin --tags
        RC_VERSION=$(git tag --sort=taggerdate --list "v${PACKAGE_VERSION/-SNAPSHOT}*" | tail -1 | tr -d '\n')
        echo "VERSION=$(npx semver -i prerelease --preid rc ${RC_VERSION:-$PACKAGE_VERSION}  | tr -d '\n')" >> $GITHUB_ENV

    - name: Update versions
      if: github.event_name == 'push'
      run: |
        find . -type f -not -path './node_modules/*' -regex '.*\\.\\(yaml\\|sample\\|xml\\)' -exec sed -i 's/${PACKAGE_VERSION}/${VERSION}/g' {} \\;
        npm version ${VERSION} --no-git-tag-version
        pushd packages/nuxeo-web-ui-ftest
        npm version ${VERSION} --no-git-tag-version
        popd

    - name: Install
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_PACKAGES_TOKEN }}
      run: |
        npm install
        pushd packages/nuxeo-web-ui-ftest
        npm install
        popd

    - name: Lint
      run: npm run lint

    - name: Unit tests
      env:
        SAUCE_USERNAME: nuxeo-web-ui
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      run: npm run test

    - name: Nuxeo package build
      run: mvn install -DskipInstall

    - name: Functional tests
      run: |
        mvn -B -nsu -f plugin/itests/addon install
        mvn -B -nsu -f plugin/itests/marketplace install
        mvn -B -nsu -f ftest install

    - name: Archive cucumber reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: cucumber-reports
        path: |
          ftest/target/cucumber-reports/

    - name: Archive logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: logs
        path: |
          **/log/*.log
          **/nxserver/config/distribution.properties

    - name: Archive packages
      uses: actions/upload-artifact@v2
      with:
        name: packages
        path: |
          plugin/web-ui/marketplace/target/nuxeo-web-ui-marketplace-*.zip
          plugin/itests/marketplace/target/nuxeo-web-ui-marketplace-itests-*.zip

    - name: Tag
      if: github.event_name == 'push'
      run: |
        git add package-lock.json packages/nuxeo-web-ui-ftest/package-lock.json
        git commit -a -m "Release ${VERSION}"
        git tag -a v${VERSION} -m "Release ${VERSION}"
        git push origin v${VERSION}

    - name: Publish Nuxeo packages
      if: github.event_name == 'push'
      run: |
        PACKAGE="plugin/web-ui/marketplace/target/nuxeo-web-ui-marketplace-${VERSION}.zip"
        curl -i -u "${{ secrets.CONNECT_AUTH }}" -F package=@$PACKAGE "$CONNECT_URL/site/marketplace/upload?batch=true"

    - name: Publish Web UI FTest framework
      if: github.event_name == 'push'
      working-directory: packages/nuxeo-web-ui-ftest
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_PACKAGES_TOKEN }}
      run: |
        npm publish --@nuxeo:registry=https://packages.nuxeo.com/repository/npm-public --tag SNAPSHOT
